{% extends "icebreaker/base.html" %}
{% block content %}
<h1>Before you continue...</h1>
<form method="post" action="">
	{% csrf_token %}
	<div class="input-group">
		<input type="text" name="fname" id="fname" class="form-control" placeholder="Enter your name :)" aria-describedby="basic-addon2"/>
		<div class="input-group-append">
			<button class="btn btn-lg btn-dark" type="submit">Continue</button>
		</div>
	</div>
</form>
{% endblock %}
