{% extends "icebreaker/base.html" %}
{% block extrahead %}
{{ block.super }}
	<script>
		setTimeout(function update() {
			window.location.href = '/check_for_room_updates/{{room_code}}'
		}, 5000)
	</script>
{% endblock %}
{% block content %}
<h1>Lobby</h1>
{% if pregame %}
<a href="/advance_room/{{room_code}}" type="button" class="btn btn-lg btn-secondary">Start Game</a>
<hr />
{% endif %}
{% if stage == 3 %}
<p>Click below when everybody has answered</p>
<a href="/advance_room/{{room_code}}" type="button" class="btn btn-lg btn-secondary">Finish Game</a>
<hr />
{% endif %}

<div class="row">
	<div class="col-6">
		<div class="card" style="width: 100%;">
			<div class="card-header">Participants</div>
			<ul class="list-group list-group-flush">
			{% for item in people %}
				<li class="list-group-item">{{item}}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="col-6">
		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Stage
				<span class="badge badge-primary badge-pill">{{stage_number}}</span>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Focused Player
				<span class="badge badge-primary badge-pill">{{focused_user}}</span>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
