{% extends 'icebreaker/base.html' %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript">
        setTimeout(function() {
            window.location.href = "/";
        }, 2000);
    </script>
{% endblock %}


{% block content %}

<h1>You Have Successfully Logged Out</h1>

{% endblock %}
