{% extends 'icebreaker/base.html'%}
{% block content %}
<h1>Game Ended</h1>
<ul class="list-group">
  <li class="list-group-item active">
	  Participants
  </li>
  {% for person in people %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
	{{ person.p_name }}
	<!--<span class="badge badge-primary badge-pill">{{ person.p_score }}</span>-->
  </li>
  {% endfor %}
</ul>
<hr/>
<a href="/logout" type="button" class="btn btn-lg btn-dark">Log Out</a>
{% endblock %}
