{% extends 'icebreaker/base.html' %}
{% block content %}
<h1>Question {{ question_number }}: <small>{{question_content}}</small></h1>
<form action="/save_answer" method="post">
	{% csrf_token %}
	<div class="input-group">
		<input type="text" aria-label="Answer" aria-describedby="basic-addon2" class="form-control" id="a_content" name="a_content" maxlength=255 placeholder="Answer Here" required/>
		{{ form.a_question }}
		{{ form.a_room }}
		{{ form.a_participant }}
		<div class="input-group-append">
			<button class="btn btn-lg btn-dark" type="submit">Submit Answer</button>
		</div>
	</div>
</form>
{% endblock %}
