{% extends 'icebreaker/base.html' %}
{% block content %}
<h1>Question {{ question_number }}: <small>{{question_content}}</small></h1>
<form action="/check_answer" method="post">
	{% csrf_token %}
	<div class="input-group">
		<input type="text" aria-label="Your Answer" aria-describedby="basic-addon2" class="form-control" id="u_content" name="u_content" maxlength=255 placeholder="Enter your new found knowledge here" required/>
		{{ form.a_content }}
		{{ form.a_room }}
		<div class="input-group-append">
			<button class="btn btn-lg btn-dark" type="submit">Submit Answer</button>
		</div>
	</div>
</form>
{% endblock %}
