{% extends 'icebreaker/base.html' %}
{% block extrahead %}
{% endblock %}
{% block content %}
{% if focused %}
<h1>Discussion Time</h1>
<h2>Share information that answers the previous questions<h2>
<a type="button" class="btn btn-large btn-dark" href="/advance_room/{{room_code}}">Click me when you're done</a> 
{% else %}
<h1>Discussion Time</h1>
<h2>Listen and Learn</h2>
{% endif %}
{% endblock %}
