{% extends "icebreaker/base.html" %}
{% block content %}
<h1 class="display-4">Welcome to Icebreaker!</h1>
<p class="lead">This is a simple web based quiz app to help you get to know a group of people</p>
<hr class="my-4">
<p>Simply Click Below to Create or Join a Room</p>
<div class = "container">
	<div class = "row align-items-center justify-content-between">
	<a class="btn btn-secondary btn-lg" href="create_room" role="button">Create a Room</a>
	<form style="margin:0;" method="post" action="join_room">
	{% csrf_token %}
	<div class="input-group">
		<input type="text" id="room_id" name="room_id" class="form-control" maxlength="6" minlength="6" placeholder="a1b2c3" aria-label="Room ID" aria-describedby="basic-addon2" required>
		<div class="input-group-append">
			<button class="btn btn-lg btn-dark" type="submit">Join Room</button>
		</div>
	</div>
	</form>
	</div>
{% endblock %}
